---
import ProductCatalog from '../components/ProductCatalog.vue';
import VHeader from '../components/VHeader.vue';
import Layout from '../layouts/Layout.astro';
import { PRODUCTS } from '../shared/constants';
---

<Layout>
	<div>
		<VHeader client:only />
		<ProductCatalog client:only products={PRODUCTS} />
	</div>
</Layout>
