---
import ProductCard from '../components/ProductCard.vue';
import VHeader from '../components/VHeader.vue';
import Layout from '../layouts/Layout.astro';
---

<Layout>
	<div>
		<VHeader />
		<ProductCard />
	</div>
</Layout>
