---
import ProductCard from '../components/ProductCard.vue';
import ProductCatalog from '../components/ProductCatalog.vue';
import VHeader from '../components/VHeader.vue';
import Layout from '../layouts/Layout.astro';
---

<Layout>
	<div>
		<VHeader />

		<ProductCatalog>
			<ProductCard />
		</ProductCatalog>
	</div>
</Layout>
